<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
body
	h1 div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas nihil explicabo, asperiores quia nisi aperiam quis vel atque soluta accusamus cupiditate velit consequuntur cum, quae odio corporis unde incidunt veniam.
	div Quisquam ea corrupti molestias dolore? Animi modi minus libero, amet odit iusto sint. Animi aliquam beatae earum fuga odit obcaecati fugiat labore alias consequatur. Suscipit earum officia laudantium, ex neque.


<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
body


		
